.contenedorProductos {
    border: 1px solid #000000;
    border-radius: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1.5%;
    }
.contenedorProductos:hover {
    box-shadow: 1.5px 1.5px var(--azulnegocio);
    border-color: var(--azulnegocio);
}